<h1>Products</h1>
<%= link_to 'Tango Drones', products_tango_drones_path, class: "products-index"%>
<%= link_to 'Batteries', products_batteries_path, class: "products-index" %>
<%= link_to 'Motors', products_motors_path, class: "products-index" %>
<%= link_to 'ESCs', products_escs_path, class: "products-index" %>
<%= link_to 'Propellers', products_propellers_path, class: "products-index" %>
